# See https://help.github.com/ignore-files/ for more about ignoring files.

*.pyc
*~
__pycache__
myvenv
db.sqlite3
/static
.DS_Store
.idea
.subl
.vscode
*.code-workspace
*.sublime-project
*.sublime-workspace
*/migrations
*.bat
